<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <h2>ToDo List</h2>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <mat-list>
        <mat-list-item *ngFor="let item of tasks" [ngClass]="item.is_done ? 'completed'  : ''">
            <input type="checkbox" [checked]="item.is_done" value="{{item.id}}" (click)="TaskToggle($event)"> {{ item.name }} 
        </mat-list-item>
        <mat-list-item >
            <form [formGroup]="taskForm" ngSubmit="CreateTask()">
                <mat-form-field class="form-element">
                    <input matInput formControlName='name' type="text" placeholder="Task name ..." required>
                </mat-form-field>
                <a mat-raised-button color="primary" (click)="CreateTask()">Add</a>
            </form>
            </mat-list-item>
        
        <mat-list-item > <a [routerLink]="['/secret']">Secret Page (only for chosen)</a> </mat-list-item>
        
    </mat-list>
</div>

